@tailwind base;
@tailwind components;
@tailwind utilities;

.dark .PhoneInputInput {
  background-color: rgb(55 65 81);
  border: none;
}

.PhoneInputInput {
  background-color: rgb(249 250 251);
  border: none;
}


.dark .PhoneInputCountrySelect {
    background-color: rgb(55 65 81);
    border: none;
  }
  
  .PhoneInputCountrySelect {
    background-color: rgb(249 250 251);
    border: none;
  }